<div class="cont" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="login-form">
        <mat-card-header color="primary">
            <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
                <img fxFlex="16" src="assets/svi_logo.png" alt="">
                <h4 fxFlex="80">Software Ventures International</h4>
            </mat-card-title>
            <mat-card-subtitle>
                <h4>
                    Hfiles Admin
                </h4>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="cont">
            <form [formGroup]="loginGroup" (ngSubmit)="onSubmit(loginGroup.value)" fxLayout="column"
                fxLayoutAlign="space-between center" fxLayoutGap="5">
                <span class="errorNoti" [style.visibility]="isLoginError ? 'visible' : 'hidden'">{{noti}}</span>
                <mat-form-field [hideRequiredMarker]=true>
                    <input (keydown)="keyDown($event)" required formControlName="username" matInput placeholder="Username">
                    <mat-icon color="primary" matSuffix>account_circle</mat-icon>
                    <mat-error *ngIf="loginGroup?.get('username').hasError('required')">{{getErrorMessage()}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field [hideRequiredMarker]=true>
                    <input (keydown)="keyDown($event)" required formControlName="password" matInput placeholder="Password" type='password'>
                    <mat-icon color="primary" matSuffix>lock</mat-icon>
                    <mat-error *ngIf="loginGroup.get('password').hasError('required')">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <button fxFlexOffset="5" type="submit" mat-raised-button color="primary">LOGIN</button>
            </form>
        </mat-card-content>

    </mat-card>
</div>