div.cont{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #1FA7E0;
}

.login-form{
    width: 320px;
}

mat-form-field{
    width: 90%;
}

img{
    height: 40px;
    width: 40px;
}

.errorNoti{
    color: #f44336;
    font-size: 11.5px;
    height: 14px;
    width: auto;
    display: flex;
    margin:0 0 10px 0;
}